html, body {
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
  /*background-color: gray;*/

  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  margin: 0;
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  background-image:linear-gradient(#00ff7f, #40e0d0, white, #40e0d0, #00ff7f);

}
h1 {
  font-weight: bold;
  font-size: 5rem;
  color: #708090;
  margin-top: 0;
  margin-bottom: 2rem;
  text-shadow: 2px 2px white;
  text-align: center;
}
h3 {
  text-align: center;
  font-weight: bold;
  color:#708090;
  font-size: 2rem;
  margin: 3rem;
}
p {
  /*color: rgb(74, 74, 74);*/
  color: 	#da70d6;
  font-size: 1.5rem;
}
span {
  font-weight: 900;
  font-size: 7rem;
  color: #b8860b;
}
.bold {
  font-weight: bold;
  color:#708090;
  font-size: 1.5rem;
  text-shadow: 2px 2px white;
}


.instructions {
  line-height: 1.5;
}
.container {
  margin-top: 5.25rem;
  width: 90%;
  height: 100%;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
  max-width: 12.5rem;
  background-color: rgb(32, 54, 86);
  border: 4px solid #da70d6;
  border-radius: 100px;
  box-shadow: 2px 2px 2px 2px gray, 2px 2px 2px black, 2px 2px 2px white;
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);


}
.card:active {

}
.card:hover {
  cursor: pointer;
  /*background-image: linear-gradient(#da70d6, #dda0dd, #d8bfd8, white);*/
}

@media only screen and (max-width: 680px) {
  h1 {
    font-size: 5rem;
    text-align: center;
  }
  p {
    font-size: 2.5rem;
  }
  .bold {
    font-size: 2.5rem;
  }
  #game {
    margin: 1rem 0.5rem;
  }
  .big {
    font-size: 2rem;
  }
  h3 {
    text-align: center;
    font-weight: bold;
    color:#708090;
    font-size: 3.5rem;
    margin: 3rem;
  }
  .card {margin: 5px;}
  .card:hover {
    background-image: none;
  }
}

@media only screen (max-width: 480px) {
  h3 {
    font-size: 2.5rem;
  }
}
